@font-face
{
    font-family:"ccaizhdi";
    src: url("../ccaizhdi_rotatedv7.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}

.ccaizhdi 
{
    font-family: 'ccaizhdi';
    writing-mode: vertical-lr;
}
